<div class="container"> 
  <h1>Bootstrap 4 へようこそ</h1> 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ET、   
     distinctio perspiciatis、fuga マイナス facilis ea quae qui Laborum 
     cupiditate accusamus です。
  </p>
  <button class="btn btn-primary">ボタン</button> 
</div>